@font-face {
  font-family: 'OpenSans';
  src: url('./../assets/fonts/OpenSans.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 300 800;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../assets/fonts/poppins-semibold.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../assets/fonts/poppins-regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}