html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  font-style: italic;
  vertical-align: middle;
}